<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}. All rights reserved.</span>
    <span class="footer__copyright"><a href="#" title="link to page for mclss theme">Mclss theme</a> by <a href="http://mclss.com" title="link to website for Alfred Meng">Alfred Meng</a></span>
    <span class="footer__copyright">Proudly published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a></span>
</footer>