<nav class="cover-navigation navigation--social">
  <ul class="navigation">

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/mclssf" title="@Alfred Meng 的 Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/mclssf" title="@Alfred Meng 的微博" target="_blank">
      <i class='fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Twitter -->
  <li class="navigation__item">
    <a href="#" title="@Alfred Meng on Twitter">
      <i class='fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

    <!-- Dribbble -->
    <li class="navigation__item">
      <a href="#" title="Alfred Meng on Dribbble">
        <i class='fa fa-dribbble'></i>
        <span class="label">Dribbble</span>
      </a>
    </li>

    <!-- Email -->
    <li class="navigation__item">
      <a href="mailto:mclssf@gmail.com" title="邮件联系 Alfred Meng">
        <i class='fa fa-envelope'></i>
        <span class="label">Email</span>
      </a>
    </li>

    <!-- RSS -->
    <li class="navigation__item">
      <a href="/rss/" title="Subscribe">
        <i class='fa fa-rss'></i>
        <span class="label">RSS</span>
      </a>
    </li>

  </ul>
</nav>
